@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --open-sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    max-width: 1460px;
    margin: 0 auto;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--poppins);
    font-weight: 700;
}

a{
    cursor: pointer;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

header{
    margin-top: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width: 125px;
    height: 25px;
}

.nav a{
    color: var(--pink);
    text-decoration: none;
    border: 1px solid var(--pink);
    padding: 6px 32px;
    border-radius: 100px;
}

.nav a:hover, .nav a:focus {
    color: var(--light-pink);
    border-color: var(--light-pink);
}

.hero {
    text-align: center;
    margin-top: 100px;
    max-width: 700px;
}
.hero h1{
    font-size: 1.8rem
}

.hero p, .hero a {
    font-weight: 600;
}

.hero a{
    text-decoration: none;
    background-color: var(--pink);
    color: white;
    border-radius: 100px;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 10px 5px 5px var(--very-pale-blue);
}

.hero a:hover, .hero a:focus {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
}

.hero-img{
    margin-top: 80px;
    text-align: center;
}

.hero-stats{
    margin-top: 100px;
}

.stats{
    width: fit-content;
    margin: 0 auto;
    color: var(--very-dark-cyan);
}

.stats img {
    width: 35px;
}

.stats h2{
    font-size: 4rem;
    text-align: center;
    line-height: .1;
}

.messages{
    margin-top: 80px;
}

.svg-top-1{
    background-image: url(images/bg-section-top-mobile-1.svg);
    width: 100%;
    height: 112px;
    background-size: cover;
}

.s1-div {
    transform: translateY(-1px);
    background-color: #F6FBFF;
    padding: 4em 0;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.section-1-text{
    text-align: center;
    color: var(--very-dark-cyan);
    margin-top: 100px;
}
.section-1-text p{
    font-weight: 600;
}

.svg-bottom-1 {
    background-image: url(images/bg-section-bottom-mobile-1.svg);
    width: 100%;
    height: 52px;
    background-size: cover;
    transform: translateY(-2px);
}

.section-2 {
    margin-top: 80px;
}

.section-2-text{
    text-align: center;
    margin-top: 80px;
}

.section-3{
    margin-top: 80px;
}

.svg-top-2 {
    background-image: url(images/bg-section-top-mobile-2.svg);
    width: 100%;
    height: 103px;
    background-size: cover;
}

.s3-div {
    transform: translateY(-1px);
    background-color: #F6FBFF;
    padding: 4em 0;
}

.svg-bottom-2 {
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    width: 100%;
    height: 101px;
    background-size: cover;
    transform: translateY(-2px);
}

.section-3-text{
    text-align: center;
    margin-top: 80px;
}

.end-note {
    text-align: center;
    margin-top: 80px;
}
.end-note a {
    text-decoration: none;
    background-color: var(--pink);
    color: white;
    border-radius: 100px;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 10px 5px 5px var(--very-pale-blue);
}

.end-note a:hover, .end-note a:focus {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
}

.footer {
    margin-top: 100px;
    color: white;
}

.svg-footer {
    background-image: url(images/bg-footer-top-mobile.svg);
    width: 100%;
    height: 53px;
    background-size: cover;
}

.footer-bg{
    background-color: var(--very-dark-cyan);
    transform: translateY(-1px);
    padding: 2em 0 1em;
}

.footer p {
    font-weight: 400;
}

.footer-2 h3 {
    font-size: 1.5rem;
    line-height: 1;
}

.footer-2 input{
    display: block;
    width: 100%;
    padding: .8rem 0;
    font-size: 1rem;
    font-family: var(--open-sans);
    font-weight: 600;
    color: var(--very-dark-cyan);
    background-color: white;
    border: none;
}

.footer-2 button{
    display: block;
    margin-left: auto;
    margin-top: 20px;
    background-color: var(--pink);
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--open-sans);
    font-weight: 600;
    cursor: pointer;
}

.footer button:hover, .footer button:focus {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
}

footer img{
    filter: brightness(0) invert(1);
}

.footer-logo {
    width: 200px;
}

.footer-1{
    margin-top: 80px;
}

.phone img, .phone p, .email img, .email p{
    display: inline-block;
}

.phone p, .email p{
    margin-left: 15px;
}

.icons {
    margin-top: 40px;
}

i {
    font-size: 1.8rem;
}

i + i {
    margin-left: 10px;
}

@media screen and (min-width: 390px) {
    .svg-top-1{
        background-image: url(images/bg-section-top-desktop-1.svg);
        height: 165px;
    }

    .svg-bottom-1{
        background-image: url(images/bg-section-bottom-desktop-1.svg);
        height: 139px;
    }

    .svg-top-2{
        background-image: url(images/bg-section-top-desktop-2.svg);
        height: 156px;
    }

    .svg-bottom-2{
        background-image: url(images/bg-section-bottom-desktop-2.svg);
        height: 139px;
    }

    .svg-footer{
        background-image: url(images/bg-footer-top-desktop.svg);
        height: 158px;
    }
}

@media screen and (min-width: 600px) {
    .nav img {
        width: initial;
        height: initial;
    }
}

@media screen and (min-width: 1000px) {
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    .messages, .section-1-text, .section-2-text, .section-3-text, .footer-1 {
        margin-top: initial;
    }

    h3 {
        margin: 0;
    }

    .footer-2 {
        align-self: start;
    }
}