@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 40px 0 0;
  min-height: 100vh;
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 240px;
}
@media (min-width: 43.75em) {
  body {
    background-image: url(../../images/bg-main-desktop.png);
    background-size: 400px 100%;
    background-attachment: fixed;
  }
}

:root {
  --active-input-border: linear-gradient(to left,hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 62%, 18%);
  --button-hover: hsl(278, 65%, 25%);
  --red: hsl(0, 71%, 63%);
}

:root {
  --space-grotesk: "Space Grotesk", sans-serif;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

a, a:hover, a:visited {
  cursor: pointer;
  text-decoration: none;
}

h1, p {
  margin-top: 0;
}

h1 {
  font-size: clamp(1.75rem, 3vw + 1rem, 3.125rem);
  line-height: 1;
}

input, button, textarea, select {
  font: inherit;
}

input::-moz-placeholder {
  opacity: 0.5;
  color: var(--dark-grayish-violet);
}

input::placeholder {
  opacity: 0.5;
  color: var(--dark-grayish-violet);
}

button {
  cursor: pointer;
}

img, svg {
  display: block;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.text-center {
  text-align: center;
}

@media (min-width: 43.75em) {
  .text-left {
    text-align: left;
  }
}
.d-none {
  display: none;
}

.main {
  width: min(100% - 40px, 51.25em);
  margin-inline: auto;
}
@media (min-width: 43.75em) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}
.main .card {
  font-size: 18px;
  color: var(--white);
  width: min(100%, 350px);
  margin-inline: auto;
}
@media (min-width: 43.75em) {
  .main .card {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.main .card__front, .main .card__back {
  background-size: cover;
  width: 280px;
  height: 150px;
  border-radius: 5px;
}
@media (min-width: 43.75em) {
  .main .card__front, .main .card__back {
    width: 320px;
    height: 180px;
  }
}
.main .card__front {
  background-image: url(../../images/bg-card-front.png);
  padding: 15px 20px 20px;
  transform: translateY(-42%);
}
@media (min-width: 43.75em) {
  .main .card__front {
    transform: translateY(0);
  }
}
.main .card__front .circles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .card__front .circles > * {
  display: inline-block;
}
.main .card__front .circles__big {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
.main .card__front .circles__small {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
}
@media (min-width: 43.75em) {
  .main .card__front .circles__big {
    width: 40px;
    height: 40px;
  }
  .main .card__front .circles__small {
    width: 24px;
    height: 24px;
  }
}
.main .card__front .num {
  font-size: 19px;
  margin-top: 25px;
  letter-spacing: 1.5px;
  text-align: center;
}
@media (min-width: 43.75em) {
  .main .card__front .num {
    font-size: 21px;
    margin-top: 45px;
  }
}
.main .card__front__footer {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  letter-spacing: 0.8px;
}
.main .card__back {
  background-image: url(../../images/bg-card-back.png);
  margin-left: auto;
}
.main .card__back .num {
  font-size: 16px;
  display: inline-block;
  transform: translate(680%, 305%);
}
@media (min-width: 43.75em) {
  .main .card__back .num {
    font-size: 18px;
    transform: translate(710%, 335%);
  }
}
.main .form-state button, .main .form-state a {
  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: var(--very-dark-violet);
  border-radius: 10px;
  padding: 0.75em;
  margin-top: 0.625em;
}
.main .form-state button:hover, .main .form-state button:focus, .main .form-state a:hover, .main .form-state a:focus {
  background-color: var(--button-hover);
}
.main .form-state .form__input span {
  color: var(--very-dark-violet);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: bold;
  margin-bottom: 0.75em;
}
.main .form-state .form__input input {
  outline: 0;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 8px;
  padding: 0.625em;
  color: var(--very-dark-violet);
}
.main .form-state .form__input input:focus {
  border-color: var(--active-input-border);
}
.main .form-state .form__input input.error {
  border-color: var(--red);
}
.main .form-state .form__input .error--message {
  color: var(--red);
  font-size: 0.875rem;
  margin-top: 0.3125em;
}
.main .form-state .form .form__input + .form__input {
  margin-top: 1.25em;
}
.main .form-state .form__name input, .main .form-state .form__num input {
  display: block;
  width: 100%;
}
.main .form-state .form__others {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.main .form-state .form__others .form__input__grp {
  width: 50%;
}
.main .form-state .form__others .form__input__grp input {
  display: block;
  width: 100%;
}
.main .form-state .form__others .form__input__grp.exp span {
  display: block;
}
.main .form-state .form__others .form__input__grp.exp input {
  display: inline-block;
  width: 48%;
}
.main .form-state .complete__state {
  text-align: center;
  color: var(--very-dark-violet);
}
.main .form-state .complete__state img {
  display: inline-block;
}
.main .form-state .complete__state h1 {
  margin-top: 0.75em;
}
.main .form-state .complete__state a {
  margin-top: 1.875em;
}/*# sourceMappingURL=style.css.map */