@use '../util' as u;


.main {
    width: min(100% - 40px, u.em(820));
    margin-inline: auto;
    @include u.breakpoint(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }
    .card {
        font-size: 18px;
        color: var(--white);
        width: min(100%, 350px);
        margin-inline: auto;
        @include u.breakpoint(medium) {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
        }
        &__front, &__back {
            background-size: cover;
            width: 280px;
            height: 150px;
            border-radius: 5px;
            @include u.breakpoint(medium) {
                width: 320px;
                height: 180px;
            }
        }
        &__front {
            background-image: url(../../images/bg-card-front.png);
            padding: 15px 20px;
            transform: translateY(-42%);
            @include u.breakpoint(medium) {
                transform: translateY(0);
            }
            .circles {
                display: flex;
                align-items: center;
                gap: 10px;
                & > * {
                    display: inline-block;
                }
                &__big {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: white;
                }
                &__small {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 1px solid white;

                }

                @include u.breakpoint(medium) {
                    &__big{
                        width: 40px;
                        height: 40px;
                    }
                    &__small{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .num {
                font-size: 19px;
                margin-top: 25px;
                letter-spacing: 1.5px;
                text-align: center;
                @include u.breakpoint(medium) {
                    font-size: 21px;
                    margin-top: 45px;
                }
            }
            &__footer {
                display: flex;
                font-size: 11px;
                justify-content: space-between;
                letter-spacing: .8px;
                text-transform: uppercase;
            }
        }
        &__back {
            background-image: url(../../images/bg-card-back.png);
            margin-left: auto;
            .num {
                font-size: 16px;
                display: inline-block;
                transform: translate(610%, 270%);
                width: 35px;
                height: 23px;
                @include u.breakpoint(medium) {
                    font-size: 18px;
                    transform: translate(710%, 335%);
                }
            }
        }
    }
    .form-state {
        button, a {
            display: block;
            width: 100%;
            border: none;
            color: white;
            background-color: var(--very-dark-violet);
            border-radius: 10px;
            padding: u.em(12);
            margin-top: u.em(10);
            &:hover, &:focus {
                background-color: var(--button-hover);
            }
        }
        .form {
            &__input {
                span {
                    color: var(--very-dark-violet);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    display: inline-block;
                    font-size: u.rem(13);
                    font-weight: bold;
                    margin-bottom: u.em(12);
                }
                input {
                    outline: 0;
                    border: 1px solid var(--light-grayish-violet);
                    border-radius: 8px;
                    padding: u.em(10);
                    color: var(--very-dark-violet);
                    &:focus {
                        border-color: var(--active-input-border);
                    }
                    &.error {
                        border-color: var(--red);
                    }
                }
                .error--message {
                    color: var(--red);
                    font-size: u.rem(14);
                    margin-top: u.em(5);
                }
            }
            .form__input + .form__input {
                margin-top: u.em(20);
            }
            &__name, &__num {
                input {
                    display: block;
                    width: 100%;
                }
            }
            &__others {
                display: flex;
                align-items: flex-end;
                gap: u.rem(10);
                .form__input__grp {
                    width: 50%;
                    // background-color: blanchedalmond;
                    input {
                        display: block;
                        width: 100%;
                    }
                    
                    &.exp {
                        span {
                            display: block;
                        }
                        input {
                            display: inline-block;
                            width: 48%;
                        }
                    }
                }
            }
        }
        .complete__state {
            text-align: center;
            color: var(--very-dark-violet);
            img {
                display: inline-block;
            }
            h1 {
                margin-top: u.em(12);
            }
            a {
                margin-top: u.em(30);
            }
        }
    }
}