@use '../util' as u;


.main {
    width: min(100% - 40px, u.em(1024));
    margin-inline: auto;
    .card {
        font-size: 18px;
        color: var(--white);
        width: min(100%, 350px);
        margin-inline: auto;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        &__front, &__back {
            background-size: cover;
            width: 280px;
            height: 150px;
            border-radius: 5px;
        }
        &__front {
            background-image: url(../../images/bg-card-front.png);
            padding: 15px 20px 20px;
            transform: translateY(-42%);
            .circles {
                display: flex;
                align-items: center;
                gap: 10px;
                & > * {
                    display: inline-block;
                }
                &__big {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: white;
                }
                &__small {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 1px solid white;

                }
            }
            .num {
                font-size: 19px;
                margin-top: 25px;
                letter-spacing: 1.5px;
            }
            &__footer {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
            }
        }
        &__back {
            background-image: url(../../images/bg-card-back.png);
            margin-left: auto;
            .num {
                font-size: 16px;
                display: inline-block;
                transform: translate(680%, 305%);
            }
        }
    }
}