.main {
  width: min(100% - 40px, 64em);
  margin-inline: auto;
}
.main .card {
  font-size: 18px;
  color: var(--white);
  width: min(100%, 350px);
  margin-inline: auto;
}
.main .card__front, .main .card__back {
  background-size: cover;
  width: 280px;
  height: 150px;
  border-radius: 5px;
}
.main .card__front {
  background-image: url(../../images/bg-card-front.png);
  padding: 15px 20px 20px;
  transform: translateY(-42%);
}
.main .card__front .circles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .card__front .circles > * {
  display: inline-block;
}
.main .card__front .circles__big {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
.main .card__front .circles__small {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
}
.main .card__front .num {
  font-size: 19px;
  margin-top: 25px;
  letter-spacing: 1.5px;
}
.main .card__front__footer {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  letter-spacing: 0.8px;
}
.main .card__back {
  background-image: url(../../images/bg-card-back.png);
  margin-left: auto;
}
.main .card__back .num {
  font-size: 16px;
  display: inline-block;
  transform: translate(680%, 305%);
}
.main .form-state button, .main .form-state a {
  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: var(--very-dark-violet);
  border-radius: 10px;
  padding: 0.75em;
  margin-top: 0.625em;
}
.main .form-state button:hover, .main .form-state button:focus, .main .form-state a:hover, .main .form-state a:focus {
  background-color: var(--button-hover);
}
.main .form-state .form__input span {
  color: var(--very-dark-violet);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-size: 0.8125rem;
  font-weight: bold;
  margin-bottom: 0.75em;
}
.main .form-state .form__input input {
  outline: 0;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 8px;
  padding: 0.625em;
  color: var(--very-dark-violet);
}
.main .form-state .form__input input.selected {
  border-color: var(--active-input-border);
}
.main .form-state .form__input input.error {
  border-color: var(--red);
}
.main .form-state .form__input .error--message {
  color: var(--red);
  font-size: 0.875rem;
  margin-top: 0.3125em;
}
.main .form-state .form .form__input + .form__input {
  margin-top: 1.25em;
}
.main .form-state .form__name input, .main .form-state .form__num input {
  display: block;
  width: 100%;
}
.main .form-state .form__others {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.main .form-state .form__others .form__input__grp {
  width: 50%;
}
.main .form-state .form__others .form__input__grp input {
  display: block;
  width: 100%;
}
.main .form-state .form__others .form__input__grp.exp input {
  display: inline-block;
  width: 48%;
}
.main .form-state .complete__state {
  text-align: center;
  color: var(--very-dark-violet);
}
.main .form-state .complete__state img {
  display: inline-block;
}
.main .form-state .complete__state h1 {
  margin-top: 0.75em;
}
.main .form-state .complete__state a {
  margin-top: 1.875em;
}/*# sourceMappingURL=index.css.map */