@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* background */
    --background-color: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --soft-violet:hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* primary */
    /* text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* neutral */
    /* text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);

    /* font */
    --font: 'Kumbh Sans', sans-serif;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: var(--background-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-size: .75rem;
}

img, svg {
    max-width: 100%;
}

/* p, h1, h2, h3, h4 {
    margin-bottom: 0;
} */

.text-center {
    text-align: center;
}

.faq__question {
    font-weight: 400;
}

.img__desktop {
    display: none;
}

.main {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
    padding: 0 1.8em 2.5em;
   background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 70%; 
}

.img--container {
    width: 85%;
    margin: 0 auto;
    transform: translateY(-58%);
}

.faq {
    margin-top: -3.5em;
}

.faq__section {
    border-bottom: 1px solid var(--light-grayish-blue);
}

.faq__question {
    position: relative;
    cursor: pointer;
    color: var(--very-dark-desaturated-blue);
}
.faq__question:hover, .faq__question:focus {
    color: var(--soft-red);
}

.faq__question::after {
    content: url(images/icon-arrow-down.svg);
    position: absolute;
    right: 0;
    transition: transform 500ms ease;
}

.faq__question--bold {
    font-weight: 700;
}

.faq__question--rotate::after {
    transform: rotate(180deg);
}

.faq__answer {
    height: 0;
    overflow: hidden;
    transition: height 250ms ease;
    color: var(--very-dark-grayish-blue);
}

.faq__answer--visible {
    height: 2.8125rem;
}