@use '../util' as u;

img, svg {
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

@include u.breakpoint(medium) {
    .text-left {
        text-align: left;
    }
}

.d-none {
    display: none;
}