@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: var(--poppins);
  background-image: url(../../images/bg-intro-mobile.png);
  background-color: var(--red);
}
@media (min-width: 43.75em) {
  body {
    background-image: url(../../images/bg-intro-desktop.png);
  }
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --green-hover: hsl(154, 59%, 61%);
  --blue: hsl(248, 32%, 49%);
  --blue-hover: hsl(248, 32%, 59%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

:root {
  --poppins: "Poppins", sans-serif;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

a, a:hover, a:visited {
  text-decoration: none;
}

h1, p {
  color: white;
  margin-top: 0;
}

h1 {
  font-size: clamp(1.75rem, 3vw + 1rem, 3.125rem);
  line-height: 1;
}

input, button {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.main {
  width: 87%;
  max-width: 68.75rem;
  margin: 0 auto;
}

.subscribe {
  margin-top: 2.5em;
}
.subscribe__link {
  color: white;
  display: block;
  background-color: var(--blue);
  border-radius: 7px;
  padding: 1em 2.625em;
  box-shadow: 0 7px 10px -3px var(--dark-blue);
}
.subscribe__link:hover, .subscribe__link:focus {
  background-color: var(--blue-hover);
}
.subscribe__form {
  margin-top: 1.25rem;
  background-color: white;
  padding: 1.25em;
  padding-bottom: 0.0625em;
  border-radius: 7px;
  box-shadow: 0 7px 10px -3px var(--dark-blue);
}
.subscribe__form__group + .subscribe__form__group, .subscribe__form__submit, .subscribe__form__tos {
  margin-top: 1.25em;
}
.subscribe__form__input, .subscribe__form__submit {
  display: block;
  width: 100%;
}
.subscribe__form__input {
  outline: 0;
  border: 1px solid var(--grayish-blue);
  border-radius: 3px;
  color: var(--dark-blue);
  font-family: inherit;
  padding: 0.5em;
}
.subscribe__form__input::-moz-placeholder {
  opacity: 1;
  color: inherit;
}
.subscribe__form__input::placeholder {
  color: inherit;
}
.subscribe__form .error {
  display: none;
  margin-top: 1em;
}
.subscribe__form .error__img {
  vertical-align: text-bottom;
}
.subscribe__form .error p {
  display: inline-block;
  color: var(--red);
  margin-bottom: 0;
  font-size: 0.8125rem;
}
.subscribe__form__submit {
  color: white;
  background: var(--green);
  border: 0;
  border-radius: 7px;
  padding: 1em;
}
.subscribe__form__submit:hover, .subscribe__form__submit:focus {
  background-color: var(--green-hover);
}
.subscribe__form__tos {
  font-size: 0.6875rem;
  color: var(--grayish-blue);
}
.subscribe__form__tos--red {
  color: var(--red);
}

@media (min-width: 43.75em) {
  .text-left {
    text-align: left;
  }
  .main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .hero, .subscribe {
    width: 100%;
  }
  .hero {
    align-self: center;
  }
  .subscribe {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */