@use '../util' as u;

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.em(16);
    font-family: var(--poppins);
    background-image: url(../../images/bg-intro-mobile.png);
    background-color: var(--red);

    @include u.breakpoint(medium) {
        background-image: url(../../images/bg-intro-desktop.png);
    }
}