:root {
    //Primary
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --green-hover: hsl(154, 59%, 61%);

    //Accent
    --blue: hsl(248, 32%, 49%);
    --blue-hover: hsl(248, 32%, 59%);

    //Neutral
    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
}