@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --inter: 'Inter', sans-serif;
}

.f-400 {
    font-weight: 400;
}

.f-700 {
    font-weight: 700;
}

.f-800 {
    font-weight: 800;
}