@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

html{
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--light-grayish-blue);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.img{
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    align-self: center;
}

p{
    font-size: 1.2rem;
}

.c-white{
    color: white;
}
.c-dark{
    color: var(--very-dark-grayish-blue);
}

.o-50{
    opacity: 50%;
}
.o-70{
    opacity: 70%;
}

.f-2{
    font-size: 1.8rem;
    font-weight: 600;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin-top: 50px;
}

.item {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 10px 10px 10px -3px var(--light-gray);
}
.item + .item {
    margin-top: 30px;
}

.title{
    display: flex;
}

.title p{
    display: grid;
    margin-left: 20px;
}

.item1 {
    background-color: var(--violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 10%;
}
.item1 .img {
    border-color: purple;
}

.item2 {
    background-color: var(--very-dark-grayish-blue);
}

.item4 {
    background-color: var(--very-dark-blackish-blue);
}
.item4 .img{
    border-color: purple;
}

@media screen and (min-width: 1200px) {
    .f-2{
        font-size: 1.5rem;
    }

    .main{
        margin-top: 0;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;

    }
    
    .item + .item {
        margin-top: 0;
    }

    .item {
        padding: 20px 30px 0;
    }

    .item1 {
        grid-column: 1 / span 2;
    }

    .item4{
        grid-column: span 2;
    }

    .item5 {
        grid-column: span 1 / -1;
        grid-row: 1 / -1;
    }
}