@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
    /* Colors */
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

img, svg {
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope', sans-serif;
    font-size: .8125rem;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 85%;
    max-width: 43.75rem;
    background-color: white;
    border-radius: 10px;
    line-height: 1.3;    
}

.image__container {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.image__container img{
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.content {
    padding: 3em 2em 2em;
    color: var(--Very-dark-grayish-blue);
    position: relative;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
}

.michelle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content__footer {
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.content__footer p {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 20px;
    margin-bottom: 0;
}

.content__author {
    font-weight: 700;
}

.content__footer--icon {
    margin-left: auto;
}

.content__share{
    background-color: var(--Very-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.2em 2em;
    -o-transform: translateX(101%);
    -moz-transform: translateX(101%);
    -ms-transform: translateX(101%);
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
    -o-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    transition: transform 250ms ease;
}

.content__share--visible {
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.content__share p {
    color: var(--desaturated-dark-blue);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.content__share div {
    display: flex;
    gap: 20px;
}

.socials img {
    cursor: pointer;
}

.content__footer--icon, .content__share--icon {
    cursor: pointer;
}

.content__footer--icon {
    background-color: var(--light-grayish-blue);
    padding: 13px;
    border-radius: 50%;
}
.content__footer--icon:hover {
    background-color: var(--desaturated-dark-blue);
}
.content__footer--icon:hover img {
    filter: brightness(0) invert(1);
}

.content__share--icon {
    background-color: var(--desaturated-dark-blue);
    padding: 13px;
    border-radius: 50%;
}
.content__share--icon:hover {
    background-color: var(--grayish-blue);
}

.content__share--icon img {
    filter: brightness(0) invert(1);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 21.25em) {
    .card {
        width: 98%;
    }
}

@media (min-width: 48.75em) {
    .card {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
    }

    .content {
        overflow: visible;
    }

    .image__container {
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
        background-image: url(images/drawers.jpg);
        background-size: cover;
    }

    .image__container img {
        display: none;
    }

    .content__share {
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        border-radius: 10px;
        max-width: 0;
        gap: 20px;
        padding: 0;
        overflow: hidden;
        left: 62%;
        bottom: 27%;
        -o-transition: padding 250ms ease,
                    max-width 250ms ease;
        -ms-transition: padding 250ms ease,
                    max-width 250ms ease;
        -moz-transition: padding 250ms ease,
                    max-width 250ms ease;
        -webkit-transition: padding 250ms ease,
                    max-width 250ms ease;
        transition: padding 250ms ease,
                    max-width 250ms ease;
    }
    .content__share::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        border-top: 10px solid var(--Very-dark-grayish-blue);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    .content__share--visible {
        max-width: 50%;
        padding: .5em 1em;
        overflow: visible;
    }

    .content__share p {
        font-size: inherit;
    }

    div.content__share--icon {
        display: none;
    }
}