@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    min-height: 100vh;
    background-image: url(images/bg-header-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Bai Jamjuree', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.f-18{
    font-size: 1.125rem;
}

.main-text {
    color: var(--grayish-blue);
    line-height: 1.5;
}

p {
    max-width: 500px;
    margin: 0 auto;
}

.main {
    margin-top: 80px;
}

.action img {
    width: 100px;
    height: 100px;
}

.action h1 {
    margin-top: 80px;
}

.action p {
    margin-top: 30px;
}

.links {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ios-link, .mac-link {
    text-decoration: none;
    color: white;
    padding: 20px 0;
    border-radius: 100px;
    cursor: pointer;
}

.ios-link:hover, .ios-link:focus {
    background-color: hsl(171, 66%, 50%);
}

.mac-link:hover, .mac-link:focus {
    background-color: hsl(233, 100%, 74%);
}

.ios-link {
    background-color: var(--strong-cyan);
    box-shadow: 0 4px hsl(171, 66%, 35%);
}

.mac-link {
    background-color: var(--light-blue);
    box-shadow: 0 4px hsl(233, 100%, 59%);
}

.action h2 {
    margin-top: 130px;
}

.section-1 {
    margin-top: 100px;
}

.features h3 {
    margin-top: 40px;
}

.section-2 {
    margin-top: 170px;
}

.section-2 img {
    display: inline-block;
    margin: 45px 0 60px;
}

.section-3 {
    margin-top: 100px;
}

.function {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.partners {
    margin-top: 80px;
    display: grid;
    justify-items: center;
    gap: 70px;
}

.end-note {
    margin-top: 100px;
}

.end-note .links{
    margin-top: 70px;
}

.footer {
    margin-top: 100px;
    background-color: hsl(201, 11%, 94%);
    color: var(--dark-grayish-blue);
    padding: 50px 0;
}

.footer .logo {
    width: 70px;
    height: 70px;
}

.f-p {
    margin-top: 40px;
}

.footer p {
    margin-bottom: 20px;
}

.footer p:hover, .footer p:focus, .footer-links i:hover, .footer-links i:focus {
    cursor: pointer;
    color: var(--strong-cyan);
}

.footer-links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.5rem;
}

@media screen and (min-width: 50em) {
    body {
        background-image: url(images/bg-header-desktop.png);
    }

    .links {
        flex-direction: row;
        justify-content: center;
        max-width: none;
    }

    .ios-link, .mac-link {
        padding: 20px 80px;
    }

    .f-row {
        display: flex;
        gap: 40px;
        text-align: start;
    }

    .f-p {
        margin-top: 0;
        display: flex;
        gap: 30px;
    }

    .footer-links{
        margin-left: auto;
        margin-top: 0;
    }
}

@media screen and (min-width: 62.5em) {
    .function {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .func {
        width: 100%;
    }

    .func img {
        width: 40px;
        height: 40px;
    }

    .partners {
        grid-template-columns: repeat(5, 1fr);
    }

    .f-row {
        gap: 60px;
    }
    .f-p {
        gap: 60px;
    }
}

@media screen and (min-width: 80em) {
    .section-1{
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}