@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

html {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.main-text {
    color: var(--grayish-blue);
}

.main {
    margin-top: 80px;
}

.action img {
    width: 100px;
    height: 100px;
}

.action h1 {
    margin-top: 80px;
}

.action p {
    margin-top: 30px;
}