.container {
  width: min(100% - 40px, 75rem);
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem 0;
}
.header .logo {
  cursor: pointer;
}
@media (min-width: 43.75em) {
  .header .nav {
    display: block;
  }
  .header .nav__list {
    list-style: none;
  }
  .header .nav__list--item {
    display: inline-block;
    margin-right: 1.5625em;
    cursor: pointer;
  }
  .header .nav__list--item:hover, .header .nav__list--item:focus {
    color: var(--soft-red);
  }
}
.header .menu img {
  cursor: pointer;
}
@media (min-width: 43.75em) {
  .header .menu {
    display: none;
  }
}

.mobile {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  translate: 103%;
  overflow: scroll;
}
.mobile__nav {
  width: 70%;
  height: 100%;
  background-color: var(--off-white);
  margin-left: auto;
  padding: 1.875em 1.25em;
}
.mobile__nav__menu__close {
  text-align: right;
  margin-bottom: 3.125em;
}
.mobile__nav__menu__close img {
  display: inline;
  cursor: pointer;
}
.mobile__nav__list {
  display: inline;
  list-style: none;
}
.mobile__nav__list--item {
  font-size: 1.5625em;
}
.mobile__nav__list--item:hover, .mobile__nav__list--item:focus {
  color: var(--soft-red);
}
.mobile__nav__list li + li {
  margin-top: 1.5em;
}

.reveal {
  display: block;
  translate: 0;
}

.hero__content {
  margin-top: 1.5625em;
}
.hero__content__header {
  color: var(--very-dark-blue);
  margin-bottom: 0;
}
.hero__content__intro--text {
  margin-top: 0.9375em;
  margin-bottom: 2.5em;
  color: var(--dark-grayish-blue);
}
.hero__content__intro--link {
  background-color: var(--soft-red);
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0.9375rem 2.5rem;
}
.hero__content__intro--link:hover, .hero__content__intro--link:focus {
  background-color: var(--very-dark-blue);
}
.hero .aside {
  background-color: var(--very-dark-blue);
  margin-top: 4.0625em;
  padding: 1.875rem 1.25rem 0;
}
.hero .aside__header {
  color: var(--soft-orange);
}
.hero .aside__article {
  padding-bottom: 1.25rem;
}
.hero .aside__article__topic {
  color: var(--off-white);
  font-size: 1.25rem;
}
.hero .aside__article__topic:hover, .hero .aside__article__topic:focus {
  color: var(--soft-orange);
}
.hero .aside__article__text {
  color: var(--grayish-blue);
  margin-top: 0.75em;
}
.hero .aside article + article {
  border-top: 1px solid var(--grayish-blue);
  padding-top: 1.5625rem;
}
@media (min-width: 43.75em) {
  .hero {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 1.25em;
  }
  .hero__img--desktop {
    display: block;
  }
  .hero__img--mobile {
    display: none;
  }
  .hero__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125em;
  }
  .hero .aside {
    margin-top: 0;
  }
}

.articles {
  margin-top: 4.375em;
}
.articles .article {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 30px;
}
.articles .article__intro__num {
  color: var(--grayish-blue);
  margin-bottom: 0;
}
.articles .article__intro__topic {
  font-size: 1.125rem;
  display: block;
  margin-top: 0.625em;
  color: var(--very-dark-blue);
}
.articles .article__intro__topic:hover, .articles .article__intro__topic:focus {
  color: var(--soft-red);
}
.articles .article__intro__text {
  color: var(--dark-grayish-blue);
  margin-top: 0.625em;
}
.articles .article + .article {
  margin-top: 1.25em;
}
@media (min-width: 43.75em) {
  .articles .article + .article {
    margin-top: 0;
  }
}
@media (min-width: 43.75em) {
  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2.5em;
  }
}/*# sourceMappingURL=index.css.map */