@use '../util' as u;

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--libre-franklin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: u.em(30);
    font-size: u.rem(20);
}