@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

:root {
    --libre-franklin: 'Libre Franklin', sans-serif;
}

.f-300 {
    font-weight: 300;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}