@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
/* ### Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* ### Neutral */
    --dark-grayish-red: hsl(0, 6%, 24%);

    /* ### Gradients */
    --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --gradient-3:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 86%));
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 2%, 8%);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--desaturated-red);
}

.text-center {
    text-align: center;
}

.container{
    width: 85%;
    margin: 0 auto;
}

main {
    background-image: var(--gradient-1);
    min-height: 100vh;
}

.hero__logo {
    padding: 20px 0;
}

.hero__img {
    width: 100%;
    display: block;
}

.hero__content {
    margin-top: 2em;
}

.hero__heading {
    text-transform: uppercase;
    font-size: clamp(2.8rem, calc(5vw + 1rem), 5.5rem);
    margin-bottom: 0;
    letter-spacing: 5px;
}

.hero__heading--1 {
    font-weight: 300;
}

.hero__heading--2 {
    color: var(--dark-grayish-red);
}

.hero__text {
    line-height: 1.3;
}

.hero__form {
    margin-top: 2em;
    position: relative;
}

.email {
    display: block;
    width: 100%;
    background: none;
    border: 1px solid var(--desaturated-red);
    padding: 1em;
    padding-right: 4.625em;
    font-size: inherit;
    border-radius: 100px;
    outline-color: var(--soft-red);
    color: inherit;
    font-family: inherit;
}


.email::-webkit-input-placeholder {
    color: inherit;
}
.email::-ms-input-placeholder {
    color: inherit;
}
.email:-ms-input-placeholder {
    color: inherit;
}
.email::-moz-placeholder {
    opacity: 1;
    color: inherit;
}
.email:-moz-placeholder {
    opacity: 1;
    color: inherit;
}
.email::placeholder {
    color: inherit;
}

.button {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    background-image: var(--gradient-2);
    border: none;
    outline: none;
    padding: .8em 2.3em;
    border-radius: 100px;
    cursor: pointer;
}

.button:hover {
    background-image: var(--gradient-3);
}

.error {
    opacity: 0;
}

.error--visible {
    opacity: 1;
}

.error__icon {
    vertical-align: text-bottom;
}

.error__message {
    display: inline-block;
    color: var(--soft-red);
}